/* .showBorder{
    border: solid;
} */
.unScrollable{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main__wrapper{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(180, 228, 201, .5);
    height: fit-content;
    overflow: auto;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
}
.main{
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    height: 60vh;
}
.main__position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.main__img{
    width: 80%;
}
.first__title,.second__title,.third__title, .fourth__title, .fifth__title{
    font-family: 'Pattaya', sans-serif;
    font-size: 2.15rem;
    color: rgba(180, 228, 201, 1);
    text-shadow: 1px 1px black;
}
.mainfirsttitle__position{
    position: absolute;
    top: 3vh;
    width: 50%;
    right: 2vw;
    transform: rotate(6deg);
}
.mainsecondtitle__position, .mainthirdtitle__position, .mainfifthtitle__position{   
    position: absolute;
    top: -14vh;
    width: 85%;
    left: 10vw;
}
.mainfourthtitle__position{   
    position: absolute;
    top: -6vh;
    width: 55%;
    right: 2vw;
    text-align: center;
    z-index: 10;
}
.input__position{
    position: absolute;
    bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.button__position{
    position: absolute;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.code__input{
    background-color: white;
    border: 2px solid rgba(180, 228, 201, 1);
    color: rgba(180, 228, 201, 1);
    width: 60vw;
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.25rem;
    outline: none;
    padding-left: 5% !important;
}
::placeholder {
    font-style: italic;
    padding-left: 5% !important;
  }
.start__button, .send__button{
    background-color: white;
    border: 2px solid rgba(180, 228, 201, 1);
    color: rgba(180, 228, 201, 1);
    width: 60vw;
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.25rem;
    outline: none;
}
.start__button:hover, .start__button:focus, .send__button:hover, .send__button:focus{
    background-color: rgba(180, 228, 201, .2);
    border: 2px solid white;
    color: white;
    width: 60vw;
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.25rem;
    outline: none;
}
.footer{
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 10vh;
}
.bulletPoint__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
}
.bullet__point{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: white;
    margin: 12%;
    box-shadow: 1px 1px black;
}
.bullet__active{
    background-color: rgba(180, 228, 201, 1);
}
.camera{
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: 30vh;
}
video{
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    position: absolute;
    top: 15vh;
}
canvas{
    display: contents;
}
.fourth__img{
    width: 85%;
    position: absolute;
    top: -18vh;
    left: -1vw;
    z-index: 5;
    transform: rotate(-13deg);
}
.fourthresult__justify{
    position: relative;
    width: 80%;
    margin: 0 auto !important;
    margin-top: 5% !important;
}
.resultFont{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    color: #167663;
    font-weight: 500;
    text-shadow: 1px 1px black;
}
.resultOutput{
    color: rgba(180, 228, 201, 1);
    text-shadow: 1px 1px black;
}
.ok__icon, .no__icon{
    font-size: 2rem;
    color: #167663;
    outline: none;
}
.no__icon{
    font-size: 1.5rem
}
.ok__icon:hover, .ok__icon:focus, .no__icon:hover, .no__icon:focus{
    font-size: 2rem;
    color: rgba(180, 228, 201, 1);
    text-shadow: 1px 1px black;
    outline: none;
}
.no__icon:hover, .no__icon:focus{
    font-size: 1.5rem;
}
.result__display{
    background-color: rgba(250, 250, 250, 1);
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    position: absolute;
    top: 15vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -.18vw;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(180, 228, 201, 1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
.simpleFont{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.25rem;
    color: #167663;
    font-weight: 500;
}
.notWorking__position{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
}
.notWorking__justify{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.loading__position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.macro__card{
    border-radius: .75rem;
    border: 1px solid rgba(180, 228, 201, .3);
    background-color: rgba(250, 250, 250, .5);
    height: 8vh;
    width: 95%;
    margin: 3% auto;
}
.headerseventh__position{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 99.5%;
    height: 37vh;
    z-index: 10;
    background-color: rgb(217, 241, 228);
    top: 0;
    left: 0;
    border-radius: .25rem;
    margin: 0 auto !important;
}
.foodImg__position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    margin-right: 2.5%;
}
.food__img{
    /* width: 95%; */
    vertical-align: middle;
    border-radius: .35rem;
    height: 30vh;
    max-width: 40vw;
}
.header__productName{
    margin: 5%;
    margin-left: 2.5%;
}
.seventh__title{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.25rem;
    color: #167663;
    text-shadow: 1px 1px white;
    font-weight: 600;
}
.seventh__subTitle{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
.seventh__position{
    width: 95%;
    margin: 0 auto !important;
}
.mainseventh__position{
    position: relative;
    left: 0;
    width: 100%;
    top: 41vh;
    max-height: 40vh;
    overflow: scroll;
}
.macroCard__align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-self: center;
}
.icon__size{
    font-size: x-large;
    color: rgba(180, 228, 201, 1);
}
.simpleText{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1rem;
    color: black;
    margin: 0 !important;
}
.quantityTitle__closed, .ingredientsSelect__closed, .tagsSelect__closed{
    position: relative;
    top: 40vh;
    text-align: left;
    border-bottom: 1.5px solid #167663;
    width: 93%;
    margin: 0 auto;
    height: 4vh;
    overflow: hidden;
}
.ingredientsSelect__closed{
    border-bottom: none;
    top: 44vh;
    background-color: rgb(217, 241, 228);
}
.ingredients__separator{
    height: 1.5px;
    border-bottom: 2px solid #167663;
    width: 100%;
}
.quantityTitle__opened{
    position: relative;
    top: 40vh;
    text-align: left;
    border-bottom: 1.5px solid #167663;
    width: 93%;
    margin: 0 auto;
    height: 8vh;
    overflow: hidden;
}
.ingredientsSelect__opened{
    position: relative;
    top: 44vh;
    text-align: left;
    width: 93%;
    margin: 0 auto;
    min-height: fit-content;
    overflow: hidden;
    background-color: rgb(217, 241, 228);
}
.quantity__title, .ingredients__title, .tags__title{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1rem;
    color: #167663;
    margin: 0 !important;
}
.ingredients__card{
    border-radius: .75rem;
    border: 1px solid rgba(180, 228, 201, .3);
    background-color: rgba(250, 250, 250, .5);
    width: 100%;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.rate__indicator{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.rate__good{
    background-color: #167663;
}
.rate__bad{
    background-color: #d90429;
}
.rate__moderate{
    background-color: #f3722c;
}
.tagsSelect__closed{
    border-bottom: none;
    top: 46vh;
    background-color: rgb(217, 241, 228);
}
.tags__separator{
    height: 1.5px;
    border-bottom: 2px solid #167663;
    width: 100%;
}
.tagsSelect__opened{
    position: relative;
    top: 46vh;
    text-align: left;
    width: 93%;
    margin: 0 auto;
    min-height: fit-content;
    overflow: hidden;
    background-color: rgb(217, 241, 228);
}
.tags__card{
    border-radius: .75rem;
    border: 1px solid rgba(180, 228, 201, .3);
    background-color: rgba(250, 250, 250, .5);
    width: 100%;
    margin: 3% auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: fit-content;
}
.capitalize{
    text-transform: capitalize;
}
.tagFreeImg{
    width: 60px;
    border-radius: 50%;
}